@model WebApplication5.Models.facility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fModel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fModel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fDesc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fDesc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPrice2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPrice2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fID2 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
